{% extends 'base.html.twig' %}

{% block title %}Edit Topics{% endblock %}

{% block body %}
<div class="container-fluid text-center">
    <h1>Editer Topics</h1>

  {{ include('topics/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

  <a href="{{ path('topics_index') }}">Retour à la liste</a>

  {{ include('topics/_delete_form.html.twig') }}
</div>
{% endblock %}
