{% extends 'base.html.twig' %}

{% block title %}New Topics{% endblock %}

{% block body %}

<div class="container-fluid text-center">

    <h1>Creation du nouveau topic</h1>

    {{ include('topics/_form.html.twig') }}

    <a href="{{ path('topics_index') }}">Retour à la liste des topics </a>

  </div>
<br>
{% endblock %}
