
  .bloc-pre-pagi-forum.bloc-outils-top {
      border-bottom: .0625rem solid #cdcdcd;
      padding-bottom: 1rem;
      margin-bottom: .625rem;
  }
  .bloc-pre-pagi-forum {
      overflow: hidden;
      text-align: center;
  }

  .bloc-rech-forum {
    display: inline-block;
    text-align: center;
}
  .bloc-rech-forum .btn-lancer-rech {
    border: .0625rem solid #b4b1b1;
    border-radius: .125rem;
    height: 1.75rem;
    line-height: 1;
    width: 2.1875rem;
    padding: 0;
}

.bloc-rech-forum .txt-search {
    width: 12rem;
}
.bloc-rech-forum .btn-lancer-rech, .bloc-rech-forum .select-search, .bloc-rech-forum .txt-search {
    display: inline-block;
    margin-right: .3125rem;
    vertical-align: bottom;
}
.bloc-rech-forum .select-search {
    width: 5.3125rem;
}
.bloc-rech-forum .select-search, .bloc-rech-forum .txt-search {
    border: .0625rem solid #d0d0d9;
    height: 1.75rem;
    padding: .1875rem;
    color: #7f7f7f;
}
.bloc-pre-pagi-forum .bloc-pre-right {
    float: right;
}

.btn-actu-new-list-forum {
    border: .0625rem solid #5d6871;
    background: #6c7984;
    color: #fff;
}
.btn-actualiser-forum {
    min-width: 5.25rem;
}
.btn-actu-new-list-forum, .btn-forum-modo, .btn-repondre-msg, .btn-select-msg-modo, .btn-sondage-forum, .btn-topic-resolu {
    text-transform: uppercase;
    font-weight: 700;
    padding: 0;
    font-size: .625rem;
    height: 1.75rem;
    min-width: 6.375rem;
    line-height: 1.6875rem;
    border-radius: .125rem;
}
.bloc-pre-pagi-forum .bloc-pre-left {
    float: left;
}
