{% extends 'base.html.twig' %}

{% block title %}Hello EntretienController!{% endblock %}


{% block body %}

<div class="d-flex justify-content-between">
  <a class="btn btn-primary" href="{{ path('calendriers_new') }}">Créer nouveau évènement</a>
  <a class="btn btn-primary" href="{{ path('calendriers_index') }}">Liste des évènements </a>
</div>


<br>
<div class="calendrier" id="calendrier">

</div>

{% endblock %}


{% block javascripts %}

<script src='fullcalendar/core/main.js'></script>
<script src='fullcalendar/core/locales-all.js'></script>

<script>
  window.onload = () => {
      let calendarElt = document.querySelector("#calendrier")
      let calendar = new FullCalendar.Calendar(calendarElt, {
          themeSystem: 'bootstrap',
          selectable: true,
          selectHelper: true,
          editable: true,
          eventLimit: true,
          height: 800,
          locale: 'fr',
          initialView: 'dayGridMonth',
          timeZone: 'Europe/Paris',
          headerToolbar: {
              start: 'prev,next today',
              center: 'title',
              end: 'dayGridMonth,timeGridWeek,timeGridDay'
          },
          events: {{ data|raw }},
          editable: true,
          eventResizableFromStart: true,
      })

      calendar.render()
  }
</script>

<br>

{% endblock %}
