{% extends 'base.html.twig' %}

{% block title %}Espace Veilleurs{% endblock %}

{% block body %}

<script src="https://kit.fontawesome.com/d518001464.js" crossorigin="anonymous"></script>

<div>
  <h1> Bienvenue {{app.user.username}} ! </h1>
  <h1> Page d'accueil des Veilleurs </h1>
    <h4> Ce site est développé par GUERIN Alexis et PERRIN Marc </h4>
</div>

<div class="alert alert-primary" role="alert">
  Le site est toujours en cours de développement, <a href="#" class="alert-link">contacter</a> les développeurs pour plus d'informations
</div>


<div class="row">
  <button type="button" class="btn btn-lg" onclick="window.location.href='{{path('accueil')}}'">Retour</button>
</div>

{% endblock %}
